@use 'sass:color';
@import 'https://fonts.googleapis.com/css?family=Catamaran|Cousine:400,700|Oswald:200,300,400';

$color-highlight: #f09c42;
$color-highlight-ultra: #f2da43;
$color-dark: #464640;
$color-dark-ultra: #2d2d27;
$color-green-light: #c0d3b1;
$color-green: #7c8f6e;
$color-green-dark: #506358;
$generalRadius: 8px;
$mobile: "only screen and (max-width:640px)";

body {
  font-family: Catamaran, Arial, sans-serif;
  background: $color-dark;
  color: $color-green-light;
  margin: 0;
  
  @media print {
    background: #fff;
    color: #000;
  }
}

::selection {
  background: rgba(242, 218, 67, 0.99);
  color: $color-dark-ultra;
}

.underline {
  color: $color-highlight;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 0 rgba($color-highlight, 0.6);
  transition: color 0.2s, box-shadow 0.6s;
  cursor: pointer;
  
  &:hover {
    color: $color-highlight-ultra;
    box-shadow: inset 0 -14px 0 0 $color-dark-ultra;
  }
}

a {
  color: $color-highlight;
  
  @media print {
    color: #000 !important;
    text-decoration: none !important;
    box-shadow: none !important;
  }
}

header a,
footer a,
#resume a {
  @extend .underline;
}

$headerMargin: 8px;
h1, h2, h3, h4, h5, h6, time {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  margin: $headerMargin 0;
}

h1 {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;
  margin: 12px 0;
  
  @media #{$mobile} {
    line-height: 56px;
  }
  
  @media print {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1px;
  }
}

h2 {
  font-size: 42px;
  
  @media #{$mobile} {
    letter-spacing: 2px;
  }
  
  @media print {
    font-size: 28px;
    letter-spacing: 1px;
  }
}

h3 {
  font-size: 26px;
  
  @media #{$mobile}, print {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

h4 {
  font-size: 22px;
  
  @media print {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.iconStandard {
  margin-right: 8px;
  color: color.adjust($color-green-light, $saturation: 35%);
  
  @media print {
    color: #000;
  }
}

.iconStandardSvg {
  margin-right: 8px;
  width: 32px;
  vertical-align: bottom;
  
  path, circle {
    fill: color.adjust($color-green-light, $saturation: 35%);
    
    @media print {
      fill: #000;
    }
  }
}

// Home
main#home {
  $homeMaxWidth: 1000px;
  display: block;
  
  // Header
  header {
    background: $color-green-dark;
    background: linear-gradient(-32deg, color.adjust($color-green-light, $lightness: -35%) 0%, color.adjust($color-dark, $lightness: -4%) 100%);
    padding: 10px;
    
    .fa, .fal, .far, .fas, .fab {
      @extend .iconStandard;
    }
    
    > div {
      max-width: $homeMaxWidth;
      margin: auto;
      position: relative;
      
      svg {
        width: 600px;
        position: absolute;
        right: 0;
        top: -60px;
        z-index: 1;
        
        @media #{$mobile} {
          width: 400px;
          top: -50px;
        }
      }
      
      > div {
        position: relative;
        z-index: 20;
      }
    }
  }
  
  .sectionHeader {
    background: $color-dark-ultra;
    padding: 12px;
    margin: 18px 0;
    
    div {
      max-width: $homeMaxWidth;
      margin: auto;
    }
  }
  
  // Profiles
  .profiles {
    h2 {
      @extend .sectionHeader;
      background: linear-gradient(137deg, color.adjust($color-dark-ultra, $lightness: -5%) 15%, $color-dark 100%);
    }
    
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      max-width: $homeMaxWidth;
      margin: auto;
      
      a {
        flex-grow: 1;
        flex-basis: 80px;
        display: block;
        margin: 4px;
        text-decoration: none;
        background: $color-highlight;
        color: $color-dark;
        padding: 8px;
        transition: background-color 0.8s;
        text-align: center;
        position: relative;
        z-index: 10;
        
        &:hover {
          background: $color-highlight-ultra;
        }
        
        &:active {
          background: color.adjust($color-highlight-ultra, $saturation: 100%);
        }
        
        .fa, .fal, .far, .fas, .fab {
          display: block;
          margin: auto;
          font-size: 48px;
        }
        
        svg {
          display: block;
          margin: auto;
          width: 100%;
          max-width: 48px;
          height: auto;
          
          path {
            fill: $color-dark;
          }
        }
        
        b {
          display: block;
          text-align: center;
          font-weight: normal;
          font-size: 12px;
          margin-top: 12px;
        }
        
        &[href='resume.php'] {
          background-color: $color-highlight-ultra;
        }
      }
    }
  }
  
  // Knowledge
  .knowledge {
    h2 {
      @extend .sectionHeader;
      background: linear-gradient(110deg, color.adjust($color-dark-ultra, $lightness: -5%) 32%, $color-dark 100%);
    }
    
    fieldset {
      border: none;
      padding: 10px 15px;
      background: $color-green-dark;
      background: linear-gradient(-162deg, color.adjust($color-green-dark, $lightness: 1%) 10%, color.adjust($color-green-dark, $lightness: -15%) 100%);
      max-width: $homeMaxWidth;
      margin: 0 auto 18px;
      position: relative;
      z-index: 15;
      
      legend {
        background: $color-dark;
        font-size: 32px;
        font-weight: bold;
        padding: 12px 18px;
        border-radius: $generalRadius;
        line-height: 80%;
        white-space: nowrap;
        
        span {
          font-weight: normal;
          
          &.fal {
            font-weight: 300;
          }
        }
        
        .fa, .fas, .fal, .fab {
          @extend .iconStandard;
        }
        
        svg {
          @extend .iconStandardSvg;
        }
      }
      
      code {
        border-radius: $generalRadius;
        padding: 16px;
        overflow: hidden;
        font-size: 16px;
        max-height: 300px;
        cursor: pointer;
        transition: max-height 0.5s, background-color 0.8s;
        
        &:hover {
          background-color: color.adjust(#1c1c1c, $lightness: 1.5%);
        }
        
        &.expanded {
          max-height: 2400px;
        }
        
        @media #{$mobile} {
          word-break: break-all;
          font-size: 15px;
        }
      }
      
      p {
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 4px 0 3px 0;
        
        a {
          text-decoration: none;
          opacity: 0.5;
          transition: opacity 0.25s;
          
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  
  footer {
    font-size: 80%;
    text-align: center;
    margin: 8px;
  }
}

// Resume
$navigationWidth: 200px;
$resumeMaxWidth: 1000px;
$readableMaxWidth: 65ch;

@mixin resumeSection($gradient, $angle: 0deg, $top: -2rem) {
  position: relative;
  padding: 0.15rem 2rem 0.5rem;
  
  p, li {
    max-width: $readableMaxWidth;
    
    @media #{$mobile}, print {
      max-width: 100%;
    }
  }
  
  ul {
    list-style: circle;
    padding-left: 2rem;
    max-width: $resumeMaxWidth;
    margin-left: 0;
    
    @media #{$mobile}, print {
      max-width: 100%;
    }
    
    li {
      margin-bottom: 0.5rem;
      line-height: 1.6;
    }
  }
  
  time {
    display: block;
  }
  
  &::before {
    content: "";
    position: absolute;
    left: -$navigationWidth;
    right: -1rem;
    top: $top;
    bottom: -16rem;
    background: $gradient;
    transform: skewY($angle);
    z-index: -10;
    
    @media print {
      background: #fff;
    }
  }
}

main#resume {
  background: linear-gradient(132deg, $color-dark-ultra 0%, color.adjust($color-dark-ultra, $lightness: 20%) 60%);
  
  @media print {
    background: #fff;
  }
  
  // Navigation
  nav.resumeOptions {
    padding: 8px 12px;
    position: fixed;
    width: $navigationWidth;
    user-select: none;
    z-index: 20;
    
    @media #{$mobile}, print {
      display: none;
    }
    
    > ul {
      padding: 0;
      
      ul {
        padding-left: 18px;
      }
    }
    
    ul {
      list-style-type: none;
    }
    
    .fa, .fas, .fal, .fab {
      margin-right: 6px;
    }
    
    @media screen {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -80px;
        width: 120%;
        height: 100vh;
        background: linear-gradient(132deg, $color-dark-ultra 0%, color.adjust($color-dark-ultra, $lightness: 20%) 60%);
        transform: skewx(1.5deg);
        z-index: -1;
      }
    }
  }
  
  // Main content area
  > div {
    margin: auto;
    padding: 8px 12px 8px $navigationWidth;
    position: relative;
    z-index: 10;
    overflow: hidden;
    
    @media #{$mobile}, print {
      padding: 12px 16px;
    }
    
    // SVG Background
    > svg {
      width: 500px;
      height: 725px;
      position: absolute;
      right: 20px;
      top: -50px;
      z-index: -1;
      
      @media #{$mobile} {
        width: 600px;
        height: 870px;
        top: -20px;
        right: -50px;
      }
      
      @media print {
        width: 300px;
        height: 435px;
        top: 20px;
      }
      
      .cm {
        fill: $color-dark-ultra;
        
        @media print {
          fill: #ddd;
        }
      }
    }
    
    p {
      @media #{$mobile} {
        font-size: 108%;
      }
    }
    
    .fa, .fas, .fal, .fab {
      @extend .iconStandard;
    }
    
    &[data-section] {
      margin-bottom: 3rem;
      
      h3 {
        margin-top: 1.5rem;
        
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
    
    ul[data-section='skills-specifics'],
    ul[data-section='interests-specifics'],
    ul[data-section='education-courses'] {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding-left: 0;
      
      @media screen {
        list-style-type: none !important;
      }
      
      @media print {
      
      }
      
      li {
        margin: 0 0.5rem 0.5rem 0;
        padding: 0.25rem 0.75rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        max-width: none;
        
        @media print {
          margin-bottom: 0 !important;
          line-height: 1 !important;
        }
      }
    }
    
    [data-section='header'] {
      h4 {
        white-space: nowrap;
      }
      
      @include resumeSection(
              linear-gradient(-32deg,
                  color.adjust($color-green-light, $lightness: -35%) 0%,
                  color.adjust($color-dark, $lightness: -4%) 100%),
              -2deg,
              -5rem
      );
    }
    
    [data-section='summary'] {
      @include resumeSection(
              linear-gradient(20deg,
                  $color-green-dark 60%,
                  color.adjust($color-green-light, $lightness: -15%) 100%),
              -1.5deg,
              -1rem
      );
    }
    
    [data-section='experience'] {
      @include resumeSection(
              linear-gradient(-96deg,
                  color.adjust($color-dark-ultra, $lightness: 10%) 32%,
                  color.adjust($color-dark-ultra, $lightness: -5%) 100%),
              2deg,
              1rem
      );
    }
    
    [data-section='education'] {
      @include resumeSection(
              linear-gradient(40deg,
                  color.adjust($color-green-light, $lightness: -60%, $saturation: -10%) 0%,
                  color.adjust($color-green-light, $lightness: -40%, $saturation: -20%) 100%),
              -2deg
      );
    }
    
    [data-section='skills'] {
      @include resumeSection(
              linear-gradient(-162deg,
                  color.adjust($color-green-dark, $lightness: 5%) 10%,
                  color.adjust($color-dark, $lightness: -5%) 100%),
              3deg,
              2rem
      );
    }
    
    [data-section='references'] {
      @include resumeSection(
              linear-gradient(75deg,
                  color.adjust($color-dark, $lightness: 2%) 0%,
                  color.adjust($color-dark, $lightness: -10%, $saturation: -10%) 60%),
              -3deg,
              -1rem
      );
    }
    
    [data-section='interests'] {
      @include resumeSection(
              linear-gradient(162deg,
                  color.adjust($color-green-dark, $lightness: -10%) 10%,
                  color.adjust($color-green-light, $lightness: -65%, $saturation: -10%) 100%),
              -2deg,
              -1rem
      );
    }
  }
}